.box {
    height: 20em;
    width: 20em;
    background-color: white;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .box:before {
    position: absolute;
    content: "";
    height: 120%;
    width: 120%;
    background-image: -webkit-linear-gradient(to right, #bb6eff, #4a00e0);
    background-image: linear-gradient(to right, #bb6eff, #4a00e0);
    left: -10%;
    top: -10%;
    z-index: -1;
    border-radius: 50%;
  }